{{define "signup"}}
<!DOCTYPE html>
<head>
    <script src="/web/static/assets/js/signup.js"></script>
    <link rel="stylesheet" href="/web/static/assets/css/sign-up/style.css">
</head>
{{end}}
{{define "chat"}}
<!DOCTYPE html>
<head>
    <script src="/web/static/assets/js/chat.js"></script>
    <link rel="stylesheet" href="/web/static/assets/css/chat/style.css">
    <link rel="stylesheet/less" type="text/css" href="/web/static/assets/css/chat/style.less" />
    <script src="https://cdn.jsdelivr.net/npm/less" ></script>
</head>
{{end}}